*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
    
}

body {
    background-color: var(--bg-switch);
    overflow: hidden;
}

:root {
    --ifTrue-color: green;
    --testing-color5: radial-gradient(ellipse at 50% -50%, rgb(151, 121, 0) 35%, rgb(84, 65, 13) 60%);
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    --border-none2: none;
    --burger-color: #ffffff;
    --text-color1: #FFFFFF;
    --text-color3: #FFCF32;
    --nav-color: #292B30;
    /* */

    --bg-switch: #151820;

    
}

.darkmode {
    --ifTrue-color: red;
    --testing-color5: radial-gradient(ellipse at 50% -50%, rgb(255, 255, 255) 35%, rgb(255, 255, 255) 60%);
    --box-shadow: none;
    --border-none2: #000000;
    --burger-color: #000000;
    --text-color1: #000000;
    --text-color3: #000000;
    --nav-color: #DCDCDC;

    /* */

    --bg-switch: #ffffff;
}

header  {
    position: fixed;
    padding: 1.25rem 1.5rem 0 1.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    font-family: "Inter", sans-serif;
    z-index: 200;
    
}

.logo {
   
    gap: 15px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

.nav-bar {
    background-image: var(--testing-color5);
   backdrop-filter: blur(100px);
   box-shadow: var(--box-shadow);
   border: solid 1px var(--border-none2);
    padding: 0 40px;
    height: 50px;
    border-radius: 50px;
    gap: 30px;
    display: inline-flex;
    align-items: center;
    color: var(--dark-bg2);
    z-index: 200;
}

.line {
    height: 1px;
    background-image: linear-gradient(to right, #0000 5%, #ffc014  35%, #ffc014 50%, rgba(246, 193, 59, 0.8) 65%, #0000 95%);
    
}

.burger {
   position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    z-index: 200;
    transition: transform 0.5s ease;
    
}

.burger.active span:nth-child(1) {
    top: 50%;
    transform-origin: center center;
    transform: translate(-50%, 50%) rotate(45deg);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    top: 50%;
    transform-origin: center center;
    transform: translate(-50%, 50%) rotate(-45deg);
}

.burger > .line {
    transition: background-color 0.5s ease;
    
}

.burger:hover > .line  {
    background-color: #FFCF32;
}

.burger span {
    position: absolute;
    background-color: var(--burger-color);
    border-radius: 5px;
    height: 4px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.burger span:nth-child(1) {

    top: 25%;
    
} 

.burger span:nth-child(3) {
   
    top: 75%;
} 

.link-page {
    font-weight: 500;
    color: var(--text-color3);
    
}

.link-page:hover {
    color: rgb(229, 229, 229);
}

a {
    text-decoration: none;
    transition: color 0.5s ease;
}

.burger:hover {
    color: #ffffff;
}

.link-page-menu {
    width: 100%;
    padding-left: 2%;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(168, 168, 168);
    font-weight: 500;
    color: var(--text-color1);
    transition: background-color 0.5s ease;
    user-select: none;
}

.link-page-menu:hover {
    background-color: #d8870d3c;
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    border-color: rgb(252, 185, 62);
}

.nav-menu {
    opacity: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 2%;
    line-height: 50px;
    width: 25vw;
    height: 100vh;
    background-color: var(--nav-color);
    z-index: 100;
    visibility: hidden; 
    margin-top: 80px;
    transform: translateX(100%); 
    right: 0;
    transition: all 0.3s ease;
   
} 

.nav-menu.active2 {
    opacity: 1; 
  transform: translateX(0); 
  visibility: visible; 
  
}

.darkmode-text, .ifTrue {
    pointer-events: none;
    }
    
    .ifTrue {
        color: var(--ifTrue-color);
    }
    
    .mode {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
    
    label {
        width: 70px;
        height: 20px;
        position: relative;
        display: block;
        background: var(--ifTrue-color);
        border-radius: 200px;
        cursor: pointer;
        transition: 0.3s ;
    }
    
    label::after {
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        top: -2px;
        left:0px;
        background: rgb(255, 255, 255);
        border-radius: 180px;
        transition: 0.3s;
    
    }
    
    .dark-none {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    
    input:checked + label {
        background-color: var();
    }
    
    input:checked + label::after {
        left: 70px;
        transform: translateX(-100%);
        background: white;
    }

    .darkmode-text, .ifTrue {
        pointer-events: none;
        }
        
        .ifTrue {
            color: var(--ifTrue-color);
        }
        
        .mode {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }
        
        label {
            width: 70px;
            height: 20px;
            position: relative;
            display: block;
            background: var(--ifTrue-color);
            border-radius: 200px;
            cursor: pointer;
            transition: 0.3s ;
        }
        
        label::after {
            content: "";
            width: 25px;
            height: 25px;
            position: absolute;
            top: -2px;
            left:0px;
            background: rgb(255, 255, 255);
            border-radius: 180px;
            transition: 0.3s;
        
        }
        
        .dark-none {
            width: 0;
            height: 0;
            visibility: hidden;
        }
        
        input:checked + label {
            background-color: var();
        }
        
        input:checked + label::after {
            left: 70px;
            transform: translateX(-100%);
            background: white;
        }


.block-stats {
   width: 100%;
   height: 100vh;
   gap: 150px;
  
   display: flex;
   align-items: center;
   justify-content: center;
  
}

.stat {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 70px;
    gap: 30px;
    background-color: #352e1b;
    border: solid 1px #806c2e;
    border-radius: 15px;
}

.btn-back {
    background-color: #ffc014;
    padding: 8px 8px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.btn-back:hover {
    background-color: #ca9b18;
    cursor: pointer;
}

h2 {
    font-size: 4rem;
}

p {
    font-weight: 600;
}

.triangle {
    position: absolute;
    background-color: #b8a156;
    transform: rotate(0.2turn);
    
  
    right: 0;
    z-index: -1;
    width: 50%;
    height: 200%;
}
