
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d1521;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="passwordRepeat"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9c872a;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #67580c;
}

form {
    background-color: #524925;
    border: solid 1px rgb(138, 131, 24);
    padding: 20px;
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}



a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
}

.register_form {
    margin-top: 30px;
    justify-content: center;
    gap: 15px;
    display: flex;
}