*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
    
}

::-webkit-scrollbar {
    background-color:transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #796218;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    
}

body {
    
    min-height: 100%;
    background-color: var(--background_color);
    
}

.circles {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url("../../Images/test.png");
}

button {
    cursor: pointer;
}


.circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 191, 0, 0.3);
    filter: blur(clamp(50px, 2vw, 100px)); /* Applique l'effet de flou */
    pointer-events: none; /* Pour ne pas interférer avec les clics */
  }

  .tab, .btn_section, .see_all {
    z-index: 200;
  }
  

.active { /*  apparaite content    */
    display:flex;
    animation: img 0.5s ease-out forwards;
    z-index: 250;
    
}

.tab { /*   les tabs   */
    
    cursor: pointer;
}

.tab-active { /*  quand tab est active     */
    box-shadow: 0px 0px 15px var(--btn-hover);
   
}

.none.active { /*   quand est active le text   */
    display: flex;
    
}

.none {
    display: none;
    color: var(--text-color1);
}

:root {
    /* Light Mode */
    
    --background_color: #151820;

    --text-color1: #FFFFFF;
    --text-color2: #B1B1B1; 
    --text-color3: #FFCF32;
    --bg-color1: #181B24;
    --bg-color2: #14171E;
    --bg-color3: #202432;
    --nav-color: #292B30;
    --header-nav:#2c3241;
    --burger-color: #ffffff;
    --container-color: #242935;
    --ifTrue-color: green;
    --ifTrue-color2: red;
    --testing-color: radial-gradient(circle, #ffcf3262, #ffcf3210);
    --testing-color2: radial-gradient(circle, #f0f0f062, #e0e0e010);
    --testing-colorv2: radial-gradient(circle, #f0f0f062, #e0e0e010);
    --testing-color3: linear-gradient(to bottom, #FFD13A, #8F7318);
    --testing-color4: linear-gradient(to right, #c4a234, #755a0b);
    --testing-color5: radial-gradient(ellipse at 50% -50%, rgb(151, 121, 0) 35%, rgb(84, 65, 13) 60%);
    --testing-color6: linear-gradient(to right, #c4a234, #755a0b);
    --border-none:  #FFCF32;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    --border-none2: none;
    --visible-color: 1;
    --white-none: #FFFFFF;
    --card-color1: linear-gradient(to bottom, #ffd13a42, #8f731800);
    --card-color2: radial-gradient(ellipse at 50% -100%, rgba(255, 191, 0, 0.449) 0%, rgba(255, 183, 0, 0) 60%);
    --card-shadow: 0px 0px 15px rgba(255, 191, 0, 0.3);
    --card-fade: linear-gradient(to bottom, #15182000, #151820 65%);
    --card-fade2: linear-gradient(to right, #15182000, #151820 65%);
    --how-change: linear-gradient(to left, #997c1e00 0%, #997c1e00 5%, #997c1e3a 95%, #997c1e37 100%);
    --how-border: #eebe1fa8;
    --how-border2: #eebe1f5d;
    --btn-how: linear-gradient(to bottom, #ffcf325e, #ffcf3200 );
    --btn-border: #ffd75485;
    --btn-hover: #ffdf3f;
    --btn-hover2: #ffcf3223;
    --btn-hover3:   rgba(255, 255, 255, 0.158); 
    --border-changes: #856C1A;
    --line-opacity: linear-gradient(to right, #0000 5%, #ffc014  35%, #ffc014 50%, rgba(246, 193, 59, 0.8) 65%, #0000 95%);
    --footer-bg: #795d025b; /* #604e19 */
    --background-image: url("../../Images/test.png");

    
}


.darkmode { /* Dark Mode */
    --background_color: #ffffff;
    --text-color1: #000000;
    --text-color2: #B1B1B1; 
    --text-color3: #000000;
    --burger-color: #000000;
    --ifTrue-color: red;
    --ifTrue-color2: green;
    --bg-color1: #FFFFFF;
    --bg-color2: #F2F2F2;
    --bg-color3: #F9F9F9;
    --container-color: #FDFDFD;
    --header-nav: rgb(227, 227, 227);
    --nav-color: #DCDCDC;
    --testing-color: #FFCF32;
    --testing-color2:  #FFFFFF;
    --testing-colorv2: #FFCF32;
    --testing-color3: #FFCF32;
    --testing-color4:  #FFCF32;
    --testing-color5: radial-gradient(ellipse at 50% -50%, rgb(255, 255, 255) 35%, rgb(255, 255, 255) 60%);
    --testing-color6: #dbb621;
    --border-none: none;
    --box-shadow: none;
    --border-none2: #000000;
    --visible-color:0;
    --white-none: none;
    --card-color1:  linear-gradient(to bottom, #85858542, #47474700);
    --card-color2: radial-gradient(ellipse at 50% -100%, rgba(84, 84, 84, 0.449) 0%, rgba(41, 41, 41, 0) 60%);
    --card-shadow: 0px 0px 15px rgba(92, 92, 92, 0.3);
    --card-fade: linear-gradient(to bottom, #ffffff00, #ffffff 65%);
    --card-fade2: linear-gradient(to right, #ffffff00, #ffffff 65%);
    --how-change: linear-gradient(to left, #b4b4b400 0%, #c2c2c200 5%, #bdbdbd3a 95%, #bdbdbd37 100%);
    --how-border: #ffffffa8;
    --how-border2: #c3c3c35d;
    --btn-how: linear-gradient(to bottom, #dcdcdc5e, #b7b7b700 );
    --btn-border: #dfdfdf85;
    --btn-hover: #9c9c9c;
    --btn-hover2: #f2be10;
    --btn-hover3:   rgba(128, 128, 128, 0.127); 
    --border-changes: #000000;
    --line-opacity: none;
    --footer-bg: #dcdcdc;
    --background-image: none; 
    
    

    
    
}


.header  {
    position: fixed;
    padding: 1.25rem 1.5rem 0 1.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    font-family: "Inter", sans-serif;
    z-index: 600;
    
}

.card_name {
    color: var(--text-color3);
}

.logo_container {
    position: relative;
}

.logo {
    position: relative;
    z-index: 600;
    gap: 15px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

.nav-bar {
    background-image: var(--testing-color5);
   backdrop-filter: blur(100px);
   box-shadow: var(--box-shadow);
   border: solid 1px var(--border-none2);
    padding: 0 40px;
    height: 50px;
    border-radius: 50px;
    gap: 30px;
    display: inline-flex;
    align-items: center;
    color: var(--dark-bg2);
    z-index: 200;
    position: relative;
}


.line {
    height: 1px;
    background-image: var(--line-opacity);
    
}

.burger {
   position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    z-index: 200;
    transition: transform 0.5s ease;
    
}

.burger.active span:nth-child(1) {
    top: 50%;
    transform-origin: center center;
    transform: translate(-50%, 50%) rotate(45deg);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    top: 50%;
    transform-origin: center center;
    transform: translate(-50%, 50%) rotate(-45deg);
}

.burger > .line {
    transition: background-color 0.5s ease;
    
}

.burger:hover > .line  {
    background-color: #FFCF32;
}

.burger span {
    position: absolute;
    background-color: var(--burger-color);
    border-radius: 5px;
    height: 4px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.home, .section_about_us {
    padding: 10rem 5rem 0 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
   
}

.section_about_us {
    margin-top: 200px;
}

.text_section_home, .text_section_about {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    
}

.text_section_about {
    padding-left: 150px;
    
}

.gradient_text_about {
    color: gray;
  
    font-size: clamp(1rem, 1vw + 0.4rem, 1.5rem);
}

.img_section_home {
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.gradient_title {
    color: var(--text-color1);
    /*font-size: 5rem; */
    font-size: clamp(1.8rem, 2vw + 1rem, 5rem);
    max-width: 70%;
    white-space: nowrap;
}

.gradient_text {
    color: gray;
    max-width: 70%;
    /*font-size: 1.5rem; */
    font-size: clamp(1rem, 1vw + 0.4rem, 1.5rem);
}

.pikachu_img {
    
    height: auto;
    width: clamp(200px, 75vw, 30rem); /* Maintient le ratio de l'image */
    
}

.btn_section, .see_all {
    width: max-content;
    padding: 10px 30px;
    
}

.btn_container {
    display: flex;
    gap: 20px;
}

.btn_signup, .see_all {
    background: var(--testing-color);
    border:solid 1px var(--border-none);
    border-radius: 10px;
    color: var(--text-color3);
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn_signup:hover {
    background-color: var(--btn-hover2);
}


.btn_login {
    background: var(--testing-color2);
    border:solid 1px var(--text-color1);
    border-radius: 10px;
    color: var(--text-color1);
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn_login:hover {
    background-color: var(--btn-hover3);
}



.burger span:nth-child(1) {

    top: 25%;
    
} 

.burger span:nth-child(3) {
   
    top: 75%;
} 

.link-page {
    font-weight: 500;
    color: var(--text-color3);
    
}

.link-page:hover {
    color: rgb(229, 229, 229);
}

a {
    text-decoration: none;
    transition: color 0.5s ease;
}

 .changes {
    fill: var(--text-color1);
 }

.burger:hover {
    color: #ffffff;
}

.pikachu-img {
    z-index: 2;
    /*height: 25rem;*/
} 

.link-page-menu {
    width: 100%;
    padding-left: 2%;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(168, 168, 168);
    font-weight: 500;
    color: var(--text-color1);
    transition: background-color 0.5s ease;
    user-select: none;
}

.link-page-menu:hover {
    background-color: #d8870d3c;
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    border-color: rgb(252, 185, 62);
}

.nav-menu {
    opacity: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 2%;
    line-height: 50px;
    width: 25vw;
    height: 100vh;
    background-color: var(--nav-color);
    z-index: 500;
    visibility: hidden; 
    margin-top: 80px;
    transform: translateX(100%); 
    right: 0;
    transition: all 0.3s ease;
   
} 

.nav-menu.active2 {
    opacity: 1; 
  transform: translateX(0); 
  visibility: visible; 
  
}


.darkmode-text, .ifTrue {
pointer-events: none;
}

.ifTrue {
    color: var(--ifTrue-color);
}

.mode {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

label {
    width: 70px;
    height: 20px;
    position: relative;
    display: block;
    background: var(--ifTrue-color);
    border-radius: 200px;
    cursor: pointer;
    transition: 0.3s ;
}

label::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: -2px;
    left:0px;
    background: rgb(255, 255, 255);
    border-radius: 180px;
    transition: 0.3s;

}

.dark-none {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label {
    background-color: var();
}

input:checked + label::after {
    left: 70px;
    transform: translateX(-100%);
    background: white;
}

.sales_reviews_container {
    margin-top: 300px;
    color: var(--text-color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    
}

.section_stats {
    padding-top: 50px;
  display: inline-flex;
  justify-content: space-around;
  width: 90%;
    
}

.stat, .market {
    font-size: clamp(1rem, 2vw + 1.5rem, 5rem);
}

.stat {
    font-family: "Inter", serif;
    font-size: 4rem;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  background: var(--testing-color3);
  -webkit-background-clip: text;  /* Nécessaire pour Safari */
  background-clip: text;          /* Support pour les autres navigateurs */
  color: transparent;
  
}

.description {
    font-size: clamp(16px, 4vw, 32px);
    text-align: center;
    color: var(--text-color1);

}

.description_cards {
    color: var(--text-color1);
}

.up {
    z-index: 5;
}

.gradient {
    position: absolute;
    width: 270px;
    border-radius:10px;
    z-index:-1;
    height: 360px;
    background: var(--card-color1);
}

.text_gradient {
    background: var(--testing-color6);
  -webkit-background-clip: text;  /* Nécessaire pour Safari */
  background-clip: text;          /* Support pour les autres navigateurs */
  color: transparent;
}

.market_description {
    width: 60%;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
}

.cards_container {
    width: 100%;
    margin-top: 300px;
    position: relative;
    
    
}

.cards_text {
    line-height: 60px;
    text-align: center;
    color: white;
}

.title_cards {
    font-size: 2.5rem;
}

.card_container {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: solid 1px var(--border-changes);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 60px; 
    width: 270px;
    align-items: center;
    color: #ffc400;
    z-index: 6;
    background: var(--card-color2);
    
}

.cards_collection {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -2;
    gap: 50px;
    
}

.card_img {
    width: 200px;
    height: 320px;
}

.card_section {
    margin-top: 30px;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    gap: 50px;
    box-shadow: var(--card-shadow);
}

.container_see-all {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}


.how_use_section {
    width: 100%;
    height: 320px;
    display: flex;
    gap: 60px;
    position: relative;
   margin-bottom: 200px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    
}

.section_buttons_use {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    z-index: 100;
    
}

.section_text_use {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1px;
    width: 750px;
    color: white;
    border-radius: 15px;
    background: var(--how-change);
    position: relative;
    z-index: -2;
   
}

.border_test {
    border: solid 1px var(--how-border);
    height: 100%;
    border-radius: 15px;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 15px var(--how-border2);
}

.fade_hide {
    width: 200px;
    height: 450px;
    position: absolute;
    z-index: 10;
    bottom: -10px;
    right: 200px;
    inset: auto 80% -5%;
    background-image: var(--card-fade2);
    
}

.fade_hide2 {
    width: 60%;
    height: 100px;
    position: absolute;
    z-index: 12;
    margin-top: 400px;
    
    /*inset: auto 5% -5%; */
    background-image: var(--card-fade);
    
}

.exchange, .buy, .sell {
    width: 75px;
    height: 75px;
    background: var(--btn-how);
    border-radius: 15px;
    transition: all 0.3s ease;
    border: solid 1px var(--btn-border);
    position: relative;
}

.exchange:hover, .buy:hover, .sell:hover {
    transform: scale(1.2); 
    border: solid 1px var(--btn-border);
    box-shadow: 0px 0px 15px var(--btn-border);

}

.nothing {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.nothing:hover {
    filter: drop-shadow(0 0px 10px rgb(255, 255, 255));
}


.text_container1, .text_container2, .text_container13 {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text_container_title1, .text_container_title2, .text_container_title3 {
    font-size: 2.5rem;
}

.text_container_description1, .text_container_description2, .text_container_description3 {
    font-size: 1.2rem;
}


.section_faq {
    width: 100%;
}

.faq-container {
    width: 80%;
    margin: 0 auto;
}

.how_use {
    display: flex;
    font-size: 1.2rem;
    align-self: start;
}

.text_container {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: var(--footer-bg);
    
    z-index: 100;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: var(--text-color1);
}

.wrapping {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
   
}

@media (min-width: 2000px) {
    .gradient_text_about {
        max-width: 75%;
    }

    .img_section_home {
        width: 40%;
        justify-content: end;
    }

    .text_section_home {
        width: 700px;
        justify-content: center;
        align-items: start;
    }

    .text_section_about {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .btn_login,  .see_all {
        font-size: 1rem;
    }

    
}

@media (max-width: 1800px) {
    .pikachu_img {
        width: clamp(200px, 75vw, 30vw);
        height: auto; /* Ajuste la largeur de l'image */ /* Ajuste la largeur maximale pour les écrans 4K */
    }
}

@media (max-width: 1522px) {
    .fade_hide2 {
       
        left: 0px;
        width: 100%;
    }
}

@media (max-width: 1280px) {
   .home {
    justify-content: space-evenly;
   }

   .gradient_text {
    max-width: 75%;
   }

   .nav-menu {
    width: 40vw;
}
}

span {
    z-index: 250;
}

@media (max-width: 768px) {
    .nav-bar, .none {
        display: none;
    }
    .nav-menu {
        width: 100vw;
        margin-top: 0;
        padding-top: 30%;
        
    }

    

    .section_about_us {
        flex-direction: column;
        
    }

    .img_section_home {
        justify-content: center;
    }

    .text_section_about {
       justify-content: center;
       width: 100%;
    }

    .gradient_text_about {
        max-width: 75%;
    }

    .home {
        justify-content: center;
    }

    .text_section_home {
        width: 100%;
        padding: 0 2rem;
    }
 }

 @media (max-width: 1310px) {
    .fade_hide2 {
        left: 0px;
        width: 100%;
    }
 }

 @media (max-width: 1224px)  {
    .gradient_text_about {
        max-width: 100%;
    }
 }

 @media (max-width: 1024px) {
    .text_section_about {
        padding-left: 75px;
    }

    .home {
        justify-content: space-between;
       }
    .link-page {
        font-size: 0.7rem;
    }

    .gradient_text {
        max-width: 90%;
       }

    .nav-bar {
        padding: 0 30px;
    }

    .gradient, .card_container{
        width: 220px;
        height: 310px;
        
    }

    .fade_hide2 {
        margin-top: 290px;
        height: 100px;
    }

    .card_container {
        gap: 20px;
        padding-top: 50px;
    }

    .card_img {
        width: 150px;
        height: 250px;
    }

    .exchange, .buy, .sell {
        width: 70px;
        height: 70px;
    }

    .changes {
        width: 40px;
        height: 40px;
    }

    .border_test, .section_text_use {
        width: 600px;
    }

    .fade_hide {
        inset: auto 75% -5%;
        height: 350px;
       
    }

    .pikachu_img {
        width: 300px;
    }

 }

 @media (max-width: 865px) {
    .how_use_section {
        flex-direction: column;
    }

    .section_buttons_use {
        flex-direction: row;
    }
    
    

    .border_test {
        width: 600px;
    }

    .how_use_section {
        padding-right: 50px;
        padding-left: 50px;
    }

    .border_test, .section_text_use {
        width: 600px;
    }

    .fade_hide {
        inset: auto 75% -5%;
        height: 350px;
       
    }

    .how_use {
        margin-bottom: 30px;
    }

 }



 @media (max-width: 768px) {
    .border_test, .section_text_use {
        width: 500px;
        height: 250px;
    }

    .text_container_description1, .text_container_description2, .text_container_description3 {
        font-size: 1rem;
    }

    .text_container_title1, .text_container_title2, .text_container_title3 {
        font-size: 2rem;
    }

    .fade_hide {
        inset: auto 70% -5%;
        height: 350px;
       
    }
 }

 @media (max-width: 648px) {
    .fade_hide {
        inset: auto 65% -5%;
        height: 350px;
       
    }

    .how_use_section {
        padding-right: 30px;
        padding-left: 30px;
    }

    .text_section_about {
        margin-top: 50px;
       justify-content: start;
       padding: 0;
    }

    .stat {
        font-size: 3rem;
    }

 }

 @media (max-width: 585px) {
    .fade_hide {
        right: 5px;
        height: 350px;
    }

    .footer {
        flex-direction: column;
        gap: 20px;
    }

}



 @media (max-width: 750px)  {
     /*.home {
        flex-direction: column-reverse;
        gap: 50px; 

        
    }  */

    .pikachu_img {
        /*width: 250px; */
        display: none;
    } 

    .fade_hide {
        inset: auto 80% -5%;
        height: 300px;
        width: 125px;
        
    }

    .text_section_home {
        padding: 0;
       max-width: 80%;
        word-wrap: break-word
        
    }

   

    

    .home {
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: center;
        align-items: center;
       
    }
 }

 @media (max-width: 550px)  {
    .border_test, .section_text_use {
        width: 325px;
        height: 325px;
    }

    .fade_hide {
        inset: auto 75% -5%;
        height: 350px;
        width: 125px;
        
    }

    .section_stats {
        flex-direction: column;
        gap: 50px;
    }

 }

 @media (max-width: 445px) {
    .border_test, .section_text_use {
        width: 250px;
        height: 300px;
    }

    .fade_hide {
        inset: auto 65% -5%;
        height: 350px;
        width: 125px;
        
    }

    .market_description {
        width: 85%;
    }

    .border_test, .section_text_use {
        width: 275px;
        height: 300px;
    }

    .exchange, .buy, .sell {
        width: 50px;
        height: 50px;
    }

    .how_use {
        margin-bottom: 30px;
    }

    .changes {
        width: 30px;
        height: 30px;
    }

    .fade_hide {
        inset: auto 70% -5%;
        height: 350px;
        width: 125px;
        
    }

    .stat {
        font-size: 2.3rem;
    }

    .description_cards {
        margin-top: 10px;
        line-height: 30px;
    }


    .text_section_home {
        
       max-width: 100%;
        
        
    }

    .btn_section {
        font-size: 0.8rem;
    }

    .home, .section_about_us {
        padding-left: 0;
        padding-right: 0;
    }

   

 }

 @media (max-width: 360px) {
    .fade_hide {
        inset: auto 61% -5%;
        height: 350px;
        width: 125px;
        
    }
 }

 

 @keyframes img { /*  type de animation    */
    0% {
        transform: translateY(50%); 
        opacity: 0;
    } 100% {
        transform: translateY(0%); 
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {

    .container_stats, .market, .market_description, .cards_text{
    
    
    animation: fade-in linear;
    animation-timeline: view();
    animation-range: 0px 350px;
    }

    .text_section_about, .section_text_use{
    
    
        animation: fade-transform linear;
        animation-timeline: view();
        animation-range: 0px 350px;
    }

    .img_section_home:not(.pikachu_img), .section_buttons_use {
        animation: fade-transform2 linear;
        animation-timeline: view();
        animation-range: 0px 350px;
    }

    .cards_collection {
        animation: fade-top linear;
        animation-timeline: view();
        animation-range: 0px 450px;
    }

    
}

@keyframes fade-in {
    from {scale: .8; opacity: 0;}
    to {scale: 1; opacity: 1;}
  }


@keyframes fade-transform {
    from {
        transform: translateX(28%);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-transform2 {
    from {
        transform: translateX(-28%);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-top {
    from {
        transform: translateY(50%);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}





